<app-nueva-tarea></app-nueva-tarea>
<div class="container">
<div class="row">
  <div class="col text-right"><i class="fa fa-list"></i> Lista de tareas</div>
  <app-buscar-tarea class="col"></app-buscar-tarea>
</div>
  
<table class="table mt-3">
  <thead class="thead-dark">
    <tr class="text-success">
      <th scope="col "><p class="fw-light">#</p></th>
      <th scope="col"><p class="fw-light">Mis tareas</p></th>
      <th scope="col"><p class="fw-light text-center">completada</p></th>
      <th scope="col"><p class="fw-light text-center">Borrar y Actualizar</p></th>
    </tr>
  </thead>

  <tbody *ngIf="auth.user$ | async as user">
    <tr *ngFor="let tarea of tarea; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td [ngClass]="tarea.estado ? 'classtrue' : 'classfalse'">
        {{ tarea.nombre }}
      </td>
      <td class="text-center">
        <input
          class="form-check-input"
          type="checkbox"
          id="estado"
          [(ngModel)]="tarea.estado"
          name="estado"
        />
        
      </td>
      <td class="text-center">
        <button class="btn btn-danger me-2" (click)="borrarTarea(tarea, i)">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-success" (click)="actualizarTarea(tarea)">
          <i class="fa fa-cloud-upload-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>


<div
  *ngIf="!cargando && tarea.length === 0"
  class="alert alert-warning text-center mt-3"
>
  <h4 class="alert-heading">No hay registro</h4>
  <p>
    <i class="fa fa-exclamation fa-2x"></i>
  </p>
</div>

<div
  class="alert alert-info text-center mt-3 inimated fadeIn faster"
  *ngIf="cargando"
>
  <h4 class="alert-heading">cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <div class="mb-0">Espere porfavor</div>
</div>


</div>